
BasedOnStyle: LLVM

BreakBeforeBraces: Allman

BinPackParameters: false

IndentWidth: 4
TabWidth: 4
UseTab: Never

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false

AlignAfterOpenBracket: Align

ColumnLimit: 5000

PointerAlignment: Left

SpaceBeforeParens: ControlStatements
